body {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14pt;
}

. {
    box-sizing: border-box

}

a:hover {
    box-shadow: 2px 2px 10px #cbcbcb;
}

.headerimage {
    margin: 0;
    background-image: url('headerimage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 50%;
    max-height: 450px
   

}

.navigation {
    border: 0;
    background-color: #ffffff;
}



.headtext {
    margin: 0 auto;
    padding: 10px;
    width: 50%
}
.nav-left {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.nav-right {
   
    justify-content: flex-end;
    padding-top: 10px;

}

.profile-photo {
    margin: 0 auto;
    padding: 10px;
}

.main-content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;   
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 1;
    
}

.bgtest {
    background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.right-content {
    justify-content: flex-start;
    float: left;
    padding: 15px;
    margin: 0 auto;
    width: 35%;
    

}

.left-content {
    float: left;
    padding: 15px;
    margin: 0 auto;
    width: 65%;

}

#main {
    padding: 0;
    background-color: #c3c3c3;

}

.hrstyle {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);

}

.portfoliocontent {
    width: 100%;
    margin: 0 auto;
    padding: 10px
}

.contactcontent {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    
    padding: 10px;
}