body {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14pt;
}

. {
    box-sizing: border-box

}

.headerimage {
    margin: 0;
    background-image: url('headerimage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 50%;
    max-height: 450px
   

}



.headtext {
    margin: 0 auto;
    padding: 10px;
    width: 50%
}
.nav-left {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.nav-right {
    justify-content: flex-end;

}

.profile-photo {
    margin: 0 auto;
    padding: 10px;
}

.main-content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;   
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 1;
    
}

.bgtest {
    background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.right-content {
    justify-content: flex-start;
    float: left;
    padding: 15px;
    margin: 0 auto;
    width: 35%;
    

}

.left-content {
    float: left;
    padding: 15px;
    margin: 0 auto;
    width: 65%;

}

#main {
    padding: 0;
    background-color: #c3c3c3;

}